body {
  background-color: #f8f8f8;
  margin: 2rem 0;
  font-family: "Roboto", "Noto Sans KR", sans-serif;

  display: flex;
  justify-content: center;

  height: 90vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
